pkgbase = libngtcp2
	pkgdesc = Implementation of IETF QUIC protocol
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/ngtcp2/ngtcp2
	arch = x86_64
	license = MIT
	provides = libngtcp2.so
	source = libngtcp2-0.19.1.tar.gz::https://github.com/ngtcp2/ngtcp2/archive/refs/tags/v0.19.1.tar.gz
	sha256sums = 1889f6b8821f9a77d7cf92c5d975f767d25e2414ad3f6a18f72c48fb76d63f19

pkgname = libngtcp2
